/* хлебные крошки + главный заголовок страницы */
nav.breadcrumbs {
    padding: 1rem 0;
    overflow: hidden;
}

nav.breadcrumbs ul.nav.bar + header {
    margin-top: 1rem;
}

/* у последнего элемента не должно быть отступа снизу, чтобы отступ хлебных крошек смотрелся симметрично */
nav.breadcrumbs .container > *:last-child {
    margin-bottom: 0;
}

nav.breadcrumbs ul.nav.bar {
    overflow: hidden;
    max-width: 100%;
}

nav.breadcrumbs li:before {
    content: '/';
}

nav.breadcrumbs li:first-child:before {
    content: '';
}

nav.breadcrumbs h1 {
    padding: 0;
    margin: 0;
}