/* быстрый поиск в шапке */
.quick-search {
    position: relative;
    flex-grow: 1;
}

@media (max-width: 899px) {
    .quick-search {
        max-width: 20%;
    }
}

.quick-search input {
    border: 1px solid #e3e3e3;
    border-radius: 1em;
    padding: 1em 3em 1em 1.25em;
    color: #b6b6b6;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
}

.quick-search input::-webkit-input-placeholder {
    color: #b6b6b6;
    font-size: 15px;
    font-weight: 700
}

.quick-search input::-moz-placeholder {
    color: #b6b6b6;
    font-size: 15px;
    font-weight: 700
}

.quick-search input:-ms-input-placeholder {
    color: #b6b6b6;
    font-size: 15px;
    font-weight: 700
}

.quick-search input::-ms-input-placeholder {
    color: #b6b6b6;
    font-size: 15px;
    font-weight: 700
}

.quick-search input::placeholder {
    color: #b6b6b6;
    font-size: 15px;
    font-weight: 700
}

.quick-search button {
    border: none;
    outline: 0;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    right: 1.25rem;
    background: url('search.svg') center center no-repeat;
}

.quick-search .search-wrap {
    position: absolute;
    width: 100%;
}