
.icon-close {
    background: url(close.svg) center center no-repeat;
}

nav.side {
    background: #fff;
    position: fixed;
    overflow: auto;
    z-index: 1001;
    height: 100%;
    left: -100%;

    padding: 0 0 80px 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;

    -webkit-box-shadow: 5px 0 30px rgba(157, 163, 180, .1);
    box-shadow: 5px 0 30px rgba(157, 163, 180, .1);
}

nav.side.active {
    left: 0;
}

nav.side > header {
    padding: 2rem;
}

nav.side > header > a {
    text-decoration: none;
    display: block;
}

nav.side > header > a > * {
    line-height: 42px;
    vertical-align: middle;
}

nav.side > ul.nav > li > a, nav.side > ul.nav > li > ul {
    padding: 16px 0 16px 32px;
}

nav.side > ul.nav > li {
    width: 200px;
}

nav.side > ul.nav > li.delivery {
    font-weight: bold;
    border-radius: 0 2rem 2rem 0;
    background: #fffcf2;
}
nav.side > ul.nav > li.points {
    font-weight: bold;
    border-radius: 0 2rem 2rem 0;
    background: #EFF9FB;
}

nav.side > ul.nav + ul.nav {
    margin-top: 24px;
}
