/* группа кнопок покупки и др, например, избранное и шаринг */
.purchase {
    display: flex;
    gap: 1rem;
    max-width: 100%; /* максимальная ширина tiles */
}

.btn-quantity {
    padding: 0;
    position: relative;
    min-width: 100px;
}

.btn-quantity > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 100%;
}

.btn-quantity > span + span {
    display: none;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
}

.btn-quantity.detailed > span {
    display: none;
}

.btn-quantity.detailed > span + span {
    display: flex;
}

.btn-quantity .minus, .btn-quantity .plus {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    width: 50%;
}

.btn-quantity .minus {
    left: 0;
}

.btn-quantity .plus {
    right: 0;
}

.btn-quantity > .complex:before {
    content: '-';
    display: inline-block;
    position: absolute;
    left: 1.5em;
    z-index: 0;
}

.btn-quantity > .complex:after {
    content: '+';
    display: inline-block;
    position: absolute;
    right: 1.5em;
    z-index: 0;
}

.btn-quantity.sold-out > .complex:after, .btn-quantity.sold-out > .plus, .btn-quantity.sold-out .simple {
    visibility: hidden;
}