button, .btn {
    cursor: pointer;
}

.btn {
    text-decoration: none;
    vertical-align: middle;
    background: #fff;
    color: #000;
    border: 1px solid transparent;

    border-radius: 1.5em;
    text-align: center;
    padding: 1em;
    font-size: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.btn-icon:before, .icon {
    outline: 0;
    border: none;
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
}

.link, .btn-link {
    text-decoration: none;
    outline: 0;
    background: 0 0;
    border: 0;
    padding: 0;
}

.link:hover, .btn-link:hover {
    text-decoration: none;
    opacity: .8;
}

.btn button {
    outline: 0;
    border: none;
    background: transparent;
}

.btn:hover {
    background: #fffcf0;
    border: 1px solid transparent;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.btn:disabled {
    opacity: 0.3;
}

.btn-link, .btn-link:hover {
    border: none;
}

.btn-bordered {
    border: 1px solid #cacacf;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}