[type="radio"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
{
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="radio"] + label,
[type="checkbox"] + label
{
    background: white;

    pointer-events: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: inherit;

    height: 1.25em;
    line-height: 1.25em;
}

[type="radio"] + label,
[type="checkbox"] + label,
[type="radio"] + label + p,
[type="checkbox"] + label + p {
    padding: 0 0 0 1.5em;
}


[type="radio"] + label:before,
[type="checkbox"] + label:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    width: 1.25em;
    height: 1.25em;
    box-shadow: inset 0 0 0 2px #dddde0;
    border-radius: 0.25em;
    transition: .2s ease-in-out all
}


[type="radio"] + label:after,
[type="checkbox"] + label:after
{
    content: '';
    position: absolute;
    cursor: pointer;

    top: 0.1875em;
    left: 0.4375em;
    width: 0.3125em;
    height: 0.625em;
    border-right: 0.125em solid transparent;
    border-bottom: 0.125em solid transparent;
    transform: rotate(45deg);
    transition: .2s ease-in-out all;
}

[type="radio"] + label:before,
[type="radio"] + label:after
{
    border-radius: 50%;
}

[type=checkbox]:checked+label:before,
[type=radio]:checked+label:before
{
    background: blue;
    -webkit-box-shadow: none;
    box-shadow: none
}

[type=checkbox]:checked+label:after {
    border-color: #fff
}
