
body {
    background: #eee;
}

.alert-info {
    background: #42aaff;
}

.alert-warning {
    background: orange;
}

.alert-danger {
    background: red;
}

/* элементы карточек */
.card > header > h3 > span {
    color: blue;
}

.tiles .card-body p, .tiles .card-body time {
    color: #797979;
}

@media (max-width: 699px) {
    .product .price {
        background: gray;
    }
}

/* заголовок и хлебные крошки */
nav.breadcrumbs {
    background: #333;
    color: white;
}

/* бейджи */
.badge-new {
    background: #c3ffa7;
    color: #45d452
}

.badge-sale {
    background: #ffe2df;
    color: #e97a6e
}

.badge-soon {
    background: #4a80ff1a;
    color: #4a80ff
}

.badge-offer {
    background: #fffcf0;
    color: #ffdb5d
}

/* кнопки */
.link, .btn-link {
    color: #42aaff;
}

.btn-primary {
    background: red;
    border: 1px solid red;
    color: #333;
}

.btn-primary:hover {
    background: yellow;
    border: 1px solid yellow;
    color: #333;
}

/* навигация */
ul.nav > li.active > a, ul.nav > li > a:hover {
    color: orange;
}

ul.nav > li > a > b {
    color: red;
}

/* цвет подчеркивания активных табов */
nav.tabs ul li.active a:after {
    background: orange;
}

/* формы */
.form-group .form-control, .form-group .input-group {
    border-bottom: 1px solid #333;
}

.form-group > label.control-label, .form-group .form-control + p, .form-group .form-control + .select-button + p {
    color: #666;
}

/* чекбокс */
.form-group [type=checkbox]:checked+label:before,
.form-group [type=radio]:checked+label:before
{
    background: #42aaff;
}


/* нижняя навигация на мобилке */
nav.bottom ul.nav.bar > li > a > svg {
    fill: #aaa;
}
nav.bottom ul.nav.bar > li > a {
    color: #aaa;
}
nav.bottom ul.nav.bar > li > a:hover > svg {
    fill: orange;
}
nav.bottom ul.nav.bar > li > a:hover {
    color: orange;
}

/* подвал */
body > footer {
    background: -o-linear-gradient(355.99deg, #e7e7e7 -2.55%, #f4f4f4 100%);
    background: linear-gradient(-265.99deg, #e7e7e7 -2.55%, #f4f4f4 100%);
    color: #979797;
}