.tiles > * > img, .tiles > * > a > img{
    width: 100%;
}

/* другие элементы */
body > section > .container > header, body > nav > .container > header, body > .container > main > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.centered.container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}