.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.tiles > *, .tile {
    box-sizing: border-box;
}

.tiles, .with-sidebar, .row {
    display: flex;
    gap: 1rem;
}

/* тайлы переносятся */
.tiles {
    flex-wrap: wrap;
}

.tiles > * > img, .tiles > * > a > img {
    width: 100%;
}

/* а в строчке колонки одинаковые */
.row > * {
    flex: 1;
}

/* главная колонка в компоновке с сайдбаром берет все доступное пространство */
.with-sidebar > .main {
    width: 100%;
}

/* все, что с фоном, должно быть с отступом между собой */
* + .card, * + .alert, * + .buttons, * + .form-group {
    margin-top: 1rem;
}

/* но если это flex в строчку, то нет отступа */
.tiles > * + *,
.with-sidebar > * + *,
.row > * + * {
    margin-top: 0;
}

legend + .form-group {
    margin-top: 0;
}


/* другие элементы */
body > section > .container > header, body > nav > .container > header, body > .container > main > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.centered.container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}


/* блочная компоновка */
.boxes {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: flex-start;
    align-items: stretch;
}

.boxes > *, .box {
    padding: 1rem;
}

.boxes > .boxes {
    padding: 0;
}

.box + .boxes {
    border-top: 1px solid #ccc;
}

.boxes > * + * {
    border-left: 1px solid #ccc;
}

