@import "nav.css";

ul.nav.bar {
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    vertical-align: middle;
}

/*
    элементы списка содержат ссылки, кликабельная область который немного больше
    и образует свободное пространство между ними, из-за этого крайние элементы
    нужно сдвинуть с отрицательным отступом
 */
ul.nav.bar > li {
    display: inline-block;
    line-height: inherit;
}

ul.nav.bar > li > a {
    display: inline-block;
    padding: 0 0.5em;
    height: 100%;
    line-height: inherit;
}

ul.nav.bar > li > a.btn {
    line-height: 1em;
}

ul.nav.bar:first-child > li:first-child > a {
    margin-left: -0.5em;
}

ul.nav.bar:last-child > li:last-child > a{
    margin-right: -0.5em;
}

/* переопределяем смещения вертикальной навигации */
ul.nav.bar > li:first-child > a {
    margin-top: 0;
}

ul.nav.bar > li:last-child > a {
    margin-bottom: 0;
}

ul.nav.bar > li > a > img {
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

    /* горизонтальные менюшки могут содержать выпадашки */
.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    padding: 2rem;
    box-shadow: 0 4px 40px rgba(217,218,224,.5);
    -webkit-box-shadow: 0 4px 40px rgba(217,218,224,.5);
    -moz-box-shadow: 0 4px 40px rgba(217,218,224,.5);
    z-index: 100;
    border-radius: 0 0 16px 16px;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
