/* список статей для CMS */
.nav.feed li {
    padding: 0.5em 0;
    border-top: 1px solid #eee;
    clear: left;
}

.nav.feed li:first-child {
    border-top: none;
}

.nav.feed .disabled {
    opacity: 0.5;
}

.nav.feed li header {
    font-weight: bold;
}

.nav.feed li .short {
    display: block;
    max-height: 3em;
    overflow: hidden;
}
.nav.feed li .short i {
    font-style: normal;
    opacity: 0.75;
}
.nav.feed li .image {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 3em;
    margin-right: 0.5em;
    overflow: hidden;
}

.nav.feed.with-avatar li .image {
    border-radius: 100%;
}
