@import "bottom.css";
@import "modal-bottom.css";

body > footer {
    padding: 0;
    position: relative;
}

body > footer .row {
    padding: 4.625rem 0 2.625rem 0;
}

body > footer nav.social ul > li > a > i {
    font-size: 1.875em;
}

body > footer nav.social ul.nav.bar {
    height: auto;
}

body > footer nav.social footer {
    margin-top: 1rem;
}

body > footer .legal {
    font-size: 0.875em;
}

body > footer p.copyright {
    text-align: center;
    padding: 2em;
    margin: 0;
}