@import "bottom.css";
@import "modal-bottom.css";

body > footer {
    padding: 0;
    position: relative;
}

body > footer .row {
    padding: 4.625rem 0 2.625rem 0;
}

body > footer nav.social {
    font-size: 1.875rem;
}

body > footer nav.social ul.nav.bar {
    height: auto;
}

body > footer nav.social footer {
    margin-top: 16px;
}

body > footer .legal {
    font-size: 0.875rem;
    line-height: 1.675;
}

body > footer p.copyright {
    text-align: center;
    padding: 2rem;
    margin: 0;
}

body > footer ul.nav + ul.nav {
    padding-top: 2rem;
}