
.modal-bottom {
    background: white;
    padding: 16px 16px 96px 16px;
    border-radius: 16px 16px 0 0;
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

/* анимация выкатывания снизу вверх */
.modal-bottom {
    z-index: 1001;
    bottom: -100%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.modal-bottom.active {
    bottom: 0;
}

.modal-bottom .close-swipe {
    content: '';
    display: block;
    height: 3px;
    width: 24px;
    background: #e1e4ec;
    border-radius: 4px;
    margin: auto auto 1.25rem;
}


